[KCM Locale]
Name=Spanish
Name[az]=İspanca
Name[bg]=Испански
Name[br]=Spagnoleg
Name[bs]=španjolski
Name[ca]=Espanyol
Name[cs]=Španělský
Name[da]=Spansk
Name[de]=Spanisch
Name[el]=Ισπανικά
Name[eo]=Hispana
Name[es]=Español
Name[et]=Hispaania
Name[eu]=Gaztelera
Name[fi]=Espanja
Name[fr]=Espagnol
Name[ga]=Spáinnis
Name[gl]=Castelán
Name[he]=תידרפס
Name[hr]=španjolski
Name[hu]=spanyol
Name[is]=Spænska
Name[it]=Spagnolo
Name[ja]=スペイン語
Name[ko]=스페인어
Name[lt]=Ispanų
Name[lv]=Spāņu
Name[mi]=Reo Peina
Name[mk]=Шпански
Name[mt]=Spanjol
Name[nl]=Spaans
Name[no]=Spansk
Name[no_NY]=Spansk
Name[oc]=Espanhòl
Name[pl]=Hiszpański
Name[pt_BR]=Espanhol
Name[pt]=Espanhol
Name[ru]=Испанский
Name[sk]=Španielsky
Name[sl]=špansko
Name[sr]=Španski
Name[sv]=Spanska
Name[ta]=ÍÀ¡É¢Â
Name[th]=สเปน
Name[tr]=İspanyolca
Name[uk]=Іспанська
Name[vi]=Tiếng Tây Ban Nha 
Name[wa]=Castiyan
Name[xh]=isiPanish
Name[zh_CN.GB2312]=西班牙语
