[KCM Locale]
Name=Icelandic
Name[az]=İslandiya Dili
Name[bg]=Исландски
Name[br]=Islandeg
Name[bs]=Islandski
Name[ca]=Islandès
Name[cs]=Islandský
Name[da]=Islandsk
Name[de]=Isländisch
Name[el]=Ισλανδέζικα
Name[eo]=Islanda
Name[es]=Islandés
Name[et]=Islandi
Name[eu]=Islandiera
Name[fi]=Islanti
Name[fr]=Islandais
Name[ga]=Íoslainnis
Name[gl]=Islandés
Name[he]=תידנלסיא
Name[hr]=Islandski
Name[hu]=izlandi
Name[is]=Íslenska
Name[it]=Islandese
Name[ja]=アイスランド語
Name[ko]=아이슬란드어
Name[lt]=Islandų
Name[lv]=Islandiešu
Name[mi]=Reo Tiorangi
Name[mk]=Исландски
Name[mt]=Islandiż
Name[nl]=IJslands
Name[no]=Islandsk
Name[no_NY]=Islandsk
Name[oc]=Islandès
Name[pl]=Islandzki
Name[pt_BR]=Islândico
Name[pt]=Islandês
Name[ru]=Исландский
Name[sk]=Islandský
Name[sl]=islandsko
Name[sr]=Islandski
Name[sv]=Isländska
Name[ta]=³ÍÄ¡ó¾¢Â
Name[th]=ไอซ์แลนด์
Name[tr]=İzlanda Dili
Name[uk]=Ісландська
Name[vi]=Tiếng Ai-xơ-len
Name[xh]=isi-Icelandic
Name[zh_CN.GB2312]=冰岛语
