[KCM Locale]
Name=Chinese
Name[az]=Çincə
Name[bg]=Китайски
Name[br]=Sinaeg
Name[bs]=Kineski
Name[ca]=Xinès
Name[cs]=Čínský
Name[da]=Kinesisk
Name[de]=Chinesisch
Name[el]=Κινέζικα
Name[eo]=Ĉina
Name[es]=Chino
Name[et]=Hiina
Name[eu]=Txinera
Name[fi]=Kiina
Name[fr]=Chinois
Name[ga]=Sínis
Name[gl]=Chinés
Name[he]=תיניס
Name[hr]=Kineski
Name[hu]=kínai
Name[is]=Kínverska
Name[it]=Cinese
Name[ja]=中国語
Name[ko]=중국어
Name[lt]=Kinų
Name[lv]=Ķīniešu
Name[mi]=Reo Häina
Name[mk]=Кинески
Name[mt]=Ċiniż
Name[nl]=Chinees
Name[no]=Kinesisk
Name[no_NY]=Kinesisk
Name[oc]=Chinès
Name[pl]=Chiński
Name[pt_BR]=Chinês
Name[pt]=Chinês
Name[ru]=Китайский
Name[sk]=Čínsky
Name[sl]=kitajsko
Name[sr]=Kineski
Name[sv]=Kinesiska
Name[ta]=º£É
Name[th]=จีน
Name[tr]=Çince
Name[uk]=Китайська
Name[vi]=Tiếng Trung Quốc 
Name[wa]=Chinwès
Name[xh]=isiTshayina
Name[zh_CN.GB2312]=繁体中文
