[KCM Locale]
Name=Hebrew
Name[az]=İvrit
Name[bg]=Иврит
Name[br]=Hebreeg
Name[bs]=Hebrejski
Name[ca]=Hebreu
Name[cs]=Hebrejský
Name[da]=Hebræisk
Name[de]=Hebräisch
Name[el]=Εβραϊκά
Name[eo]=Hebrea
Name[es]=Hebreo
Name[et]=Heebrea
Name[eu]=Hebraira
Name[fi]=Heprea
Name[fr]=Hébreu
Name[ga]=Eabhrais
Name[gl]=Hebreo
Name[he]=תירבע
Name[hr]=Hebrejski
Name[hu]=héber
Name[is]=Hebreska
Name[it]=Ebraico
Name[ja]=ヘブライ語
Name[ko]=히브리어
Name[lt]=Hebrajų
Name[lv]=Ebreju
Name[mi]=Reo Hürai
Name[mk]=Еврејски
Name[mt]=Lhudi
Name[nl]=Hebreeuws
Name[no]=Hebraisk
Name[no_NY]=Hebraisk
Name[oc]=Hebreu
Name[pl]=Hebrajski
Name[pt_BR]=Hebreu
Name[pt]=Hebreu
Name[ru]=Иврит
Name[sk]=Hebrejský
Name[sl]=hebrejsko
Name[sr]=Hebrejski
Name[sv]=Hebreiska
Name[ta]=¸£ôê
Name[th]=ฮิบรู
Name[tr]=İbranice
Name[uk]=Іврит
Name[vi]=Tiếng Do Thái 
Name[xh]=isiHebhere
Name[zh_CN.GB2312]=希伯来语
