[KCM Locale]
Name=Occitan
Name[az]=Oksitan
Name[cs]=Okcitánský
Name[de]=Okzitanisch
Name[eo]=Okcitana
Name[es]=Occitano
Name[he]=תילסנבורפ
Name[hu]=occitán
Name[it]=Occitano
Name[ja]=プロヴァンス語
Name[lv]=Okitāņu
Name[mt]=Oċċitan
Name[no_NY]=Oksitansk
Name[oc]=Occitàn
Name[pl]=Okcytański
Name[pt_BR]=Ocitão
Name[pt]=Ocitão
Name[sl]=očitansko
Name[sv]=Västerländskt
Name[ta]=´ìº¢¼¡ý
Name[uk]=Оксітанська
Name[xh]=isi-Occitan
Name[zh_CN.GB2312]=西方
