[KCM Locale]
Name=Russian
Name[az]=Rusca
Name[bg]=Руски
Name[br]=Rusianeg
Name[bs]=Ruski
Name[ca]=Rus
Name[cs]=Ruský
Name[da]=Russisk
Name[de]=Russisch
Name[el]=Ρωσικά
Name[eo]=Rusa
Name[es]=Ruso
Name[et]=Vene
Name[eu]=Errusiera
Name[fi]=Venäjä
Name[fr]=Russe
Name[ga]=Rúisis
Name[gl]=Ruso
Name[he]=תיסור
Name[hr]=Ruski
Name[hu]=orosz
Name[is]=Rússneska
Name[it]=Russo
Name[ja]=ロシア語
Name[ko]=러시아어
Name[lt]=Rusų
Name[lv]=Krievu
Name[mi]=Reo Ruhia
Name[mk]=Руски
Name[mt]=Russu
Name[nl]=Russisch
Name[no]=Russisk
Name[no_NY]=Russisk
Name[oc]=Rus
Name[pl]=Rosyjski
Name[pt_BR]=Russo
Name[pt]=Russo
Name[ru]=Русский
Name[sk]=Ruský
Name[sl]=rusko
Name[sr]=Ruski
Name[sv]=Ryska
Name[ta]=¯Õº¢Â
Name[th]=รัสเซีย
Name[tr]=Rusça
Name[uk]=Російська
Name[vi]=Tiếng Nga 
Name[wa]=Russe
Name[xh]=isiRashiya
Name[zh_CN.GB2312]=俄语
