[KCM Locale]
Name=Italian
Name[az]=İtalyanca
Name[bg]=Италиански
Name[br]=Italianeg
Name[bs]=Talijanski
Name[ca]=Italià
Name[cs]=Italský
Name[da]=Italiensk
Name[de]=Italienisch
Name[el]=Ιταλικά
Name[eo]=Itala
Name[es]=Italiano
Name[et]=Itaalia
Name[eu]=Italiera
Name[fi]=Italia
Name[fr]=Italien
Name[ga]=Iodáilis
Name[gl]=Italiano
Name[he]=תיקלטיא
Name[hr]=Talijanski
Name[hu]=olasz
Name[is]=Ítalska
Name[it]=Italiano
Name[ja]=イタリア語
Name[ko]=이탈리아어
Name[lt]=Italų
Name[lv]=Itāļu
Name[mi]=Reo Itari
Name[mk]=Италијански
Name[mt]=Taljan
Name[nl]=Italiaans
Name[no]=Italiensk
Name[no_NY]=Italiensk
Name[pl]=Włoski
Name[pt_BR]=Italiano
Name[pt]=Italiano
Name[ru]=Итальянский
Name[sk]=Taliansky
Name[sl]=italijansko
Name[sr]=Italijanski
Name[sv]=Italienska
Name[ta]=­ò¾¡Ä¢Â
Name[th]=อิตาลี
Name[tr]=İtalyanca
Name[uk]=Італійська
Name[vi]=Tiếng ÁE
Name[xh]=isiTaliyane
Name[zh_CN.GB2312]=意大利语
