[KCM Locale]
Name=Turkish
Name[az]=Türkcə
Name[bg]=Турски
Name[br]=Turkeg
Name[bs]=Turski
Name[ca]=Turc
Name[cs]=Turecký
Name[da]=Tyrkisk
Name[de]=Türkisch
Name[el]=Τουρκικά
Name[eo]=Turka
Name[es]=Turco
Name[et]=Türgi
Name[eu]=Turkiera
Name[fi]=Turkki
Name[fr]=Turc
Name[ga]=Tuircis
Name[gl]=Turco
Name[he]=תיקרוט
Name[hr]=Turski
Name[hu]=török
Name[is]=Tyrkneska
Name[it]=Turco
Name[ja]=トルコ語
Name[ko]=터키어
Name[lt]=Turkų
Name[lv]=Turku
Name[mk]=Турски
Name[mt]=Tork
Name[nl]=Turks
Name[no]=Tyrkisk
Name[no_NY]=Tyrkisk
Name[oc]=Turc
Name[pl]=Turecki
Name[pt_BR]=Turco
Name[pt]=Turco
Name[ru]=Турецкий
Name[sk]=Turecký
Name[sl]=turško
Name[sr]=Turski
Name[sv]=Turkiska
Name[ta]=ÐÕì¸¢Â
Name[th]=ตุรกี
Name[tr]=Türkçe
Name[uk]=Турецька
Name[vi]=Tiếng ThềENhĩ Kì 
Name[wa]=Turk
Name[xh]=isiTurkish
Name[zh_CN.GB2312]=土耳其语
