[KCM Locale]
Name=Finnish
Name[az]=Fincə
Name[bg]=Финландски
Name[br]=Finneg
Name[bs]=Finski
Name[ca]=Finlandès
Name[cs]=Finský
Name[da]=Finsk
Name[de]=Finnisch
Name[el]=Φινλανδικά
Name[eo]=Fina
Name[es]=Finés
Name[et]=Soome
Name[eu]=Finlandiera
Name[fi]=Suomi
Name[fr]=Finnois
Name[ga]=Fionlainnis
Name[gl]=Finlandés
Name[he]=תיניפ
Name[hr]=Finski
Name[hu]=finn
Name[is]=Finnska
Name[it]=Finlandese
Name[ja]=フィンランド語
Name[ko]=핀란드어
Name[lt]=Suomių
Name[lv]=Somu
Name[mi]=Reo Whinarana
Name[mk]=Фински
Name[mt]=Finlandiż
Name[nl]=Fins
Name[no]=Finsk
Name[no_NY]=Finsk
Name[oc]=Finlandès
Name[pl]=Fiński
Name[pt_BR]=Finlandês
Name[pt]=Finlandês
Name[ru]=Финский
Name[sk]=Fínsky
Name[sl]=finsko
Name[sr]=Finski
Name[sv]=Finska
Name[ta]=À¢ýÉ¢Í
Name[th]=ฟินแลนด์
Name[tr]=Fince
Name[uk]=Фінська
Name[vi]=Tiếng Phần Lan 
Name[wa]=Finwès
Name[xh]=isiFinnish
Name[zh_CN.GB2312]=芬兰语
