[KCM Locale]
Name=Basque
Name[az]=Bask Dili
Name[bg]=Баски
Name[br]=Euskareg
Name[bs]=Baskijski
Name[ca]=Basc
Name[cs]=Baskický
Name[da]=Baskisk
Name[de]=Baskisch
Name[el]=Βασκικά
Name[eo]=Vaska
Name[es]=Vasco
Name[et]=Baski
Name[eu]=Euskara
Name[fi]=Baski
Name[ga]=Bascais
Name[gl]=Éuscaro
Name[he]=תיקסב
Name[hr]=Baskijski
Name[hu]=baszk
Name[is]=Baskamál
Name[it]=Basco
Name[ja]=バスク語
Name[ko]=바스크어
Name[lt]=Baskų
Name[lv]=Basku
Name[mk]=Баскиски
Name[mt]=Bask
Name[nl]=Baskisch
Name[no]=Baskisk
Name[no_NY]=Baskisk
Name[oc]=Bascon
Name[pl]=Baskijski
Name[pt_BR]=Basco
Name[pt]=Basco
Name[ru]=Баскский
Name[sk]=Baskitský
Name[sl]=baskovsko
Name[sr]=Baskijski
Name[sv]=Baskiska
Name[ta]=À¡ÍìÌ
Name[tr]=Bask Dili
Name[uk]=Баскська
Name[vi]=Tiếng Baxcơ 
Name[wa]=Baske
Name[xh]=isiBasque
Name[zh_CN.GB2312]=巴斯克语
