[KCM Locale]
Name=Polish
Name[az]=Polyakca
Name[bg]=Полски
Name[br]=Poloneg
Name[bs]=Poljski
Name[ca]=Polonès
Name[cs]=Polský
Name[da]=Polsk
Name[de]=Polnisch
Name[el]=Πολωνέζικα
Name[eo]=Pola
Name[es]=Polaco
Name[et]=Poola
Name[eu]=Polskera
Name[fi]=Puola
Name[fr]=Polonais
Name[ga]=Polainnis
Name[gl]=Polaco
Name[he]=תינלופ
Name[hr]=Poljski
Name[hu]=lengyel
Name[is]=Pólska
Name[it]=Polacco
Name[ja]=ポーランド語
Name[ko]=폴란드어
Name[lt]=Lenkų
Name[lv]=Poļu
Name[mi]=Reo Pörana
Name[mk]=Полски
Name[mt]=Pollakk
Name[nl]=Pools
Name[no]=Polsk
Name[no_NY]=Polsk
Name[oc]=Pòlònès
Name[pl]=Polski
Name[pt_BR]=Polonês
Name[pt]=Polaco
Name[ru]=Польский
Name[sk]=Poľský
Name[sl]=poljsko
Name[sr]=Poljski
Name[sv]=Polska
Name[ta]=§À¡Ä¢Í
Name[th]=โปแลนด์
Name[tr]=Lehçe
Name[uk]=Польська
Name[vi]=Tiếng Ba Lan 
Name[xh]=isiPolish
Name[zh_CN.GB2312]=波兰语
