[KCM Locale]
Name=Tamil
Name[az]=Tamil Dili
Name[bg]=Тамилски
Name[br]=Tamouleg
Name[bs]=Tamilski
Name[cs]=Tamilský
Name[da]=Tamilsk
Name[eo]=Tamila
Name[et]=Tamiili
Name[fi]=Tamili
Name[fr]=Tamoul
Name[he]=תילימט
Name[hr]=Tamilski
Name[hu]=tamil
Name[is]=Tamilska
Name[ja]=タミール語
Name[ko]=타밀어
Name[lt]=Tamilų
Name[lv]=Tamilu
Name[mi]=Reo Ïnia tonga
Name[mk]=Тамилски
Name[no]=Tamilsk
Name[no_NY]=Tamilsk
Name[pl]=Tamiljski
Name[ru]=Тамильский
Name[sk]=Tamilský
Name[sl]=tamilsko
Name[ta]=¾Á¢ú
Name[th]=ทามิล
Name[tr]=Tamil Dili
Name[uk]=Тамільська
Name[vi]=Tiếng Tamil 
Name[xh]=isiTamil
Name[zh_CN.GB2312]=泰米尔语
