[KCM Locale]
Name=Latvian
Name[az]=Latviyaca
Name[bg]=Латвийски
Name[cs]=Lotyšský
Name[da]=Lettisk
Name[de]=Lettisch
Name[el]=Λιθουανικά
Name[eo]=Latvia
Name[es]=Letonio
Name[et]=Läti
Name[fi]=Latvia
Name[fr]=Lettonien
Name[he]=תיבטל
Name[hu]=lett
Name[is]=Léttlenska
Name[it]=Lituano
Name[ja]=ラトビア語
Name[ko]=라트비아어
Name[lt]=Latvių
Name[lv]=Latviešu
Name[mt]=Latvjan
Name[nl]=Lets
Name[no]=Latvisk
Name[no_NY]=Latvisk
Name[pl]=Łotewski
Name[pt_BR]=Letônio
Name[pt]=Letónio
Name[ru]=Латышский
Name[sk]=Lotyšský
Name[sl]=latvijščina
Name[sr]=Latvijski
Name[sv]=Lettiska
Name[ta]=ÄðÅ¢Â
Name[th]=ลัทเวีย
Name[tr]=Litvanya Dili
Name[uk]=Латвійська
Name[vi]=Tiếng Latvia
Name[xh]=isiLatvian
Name[zh_CN.GB2312]=拉脱维亚
