[KCM Locale]
Name=Portuguese
Name[az]=Portuqalca
Name[bg]=Португалски
Name[br]=Portugaleg
Name[bs]=Portugalski
Name[ca]=Portuguès
Name[cs]=Portugalský
Name[da]=Portugisisk
Name[de]=Portugiesisch
Name[el]=Πορτογαλλικά
Name[eo]=Portugala
Name[es]=Portugués
Name[et]=Portugali
Name[eu]=Portugesa
Name[fi]=Portugali
Name[fr]=Portugais
Name[ga]=Portaingéilis
Name[gl]=Portugués
Name[he]=תיזגוטרופ
Name[hr]=Portugalski
Name[hu]=portugál
Name[is]=Portúgalska
Name[it]=Portoghese
Name[ja]=ポルトガル語
Name[ko]=포르투갈어
Name[lt]=Portugalų
Name[lv]=Portugāļu
Name[mi]=Reo Pötikï
Name[mk]=Португалски
Name[mt]=Portugiż
Name[nl]=Portugees
Name[no]=Portugisisk
Name[no_NY]=Portugisisk
Name[oc]=Pòrtuguès
Name[pl]=Portugalski
Name[pt_BR]=Português
Name[pt]=Português
Name[ru]=Португальский
Name[sk]=Portugalský
Name[sl]=portugalsko
Name[sr]=Portugalski
Name[sv]=Portugisiska
Name[ta]=§À¡÷òÐì¸£º¢Â
Name[th]=โปรตุเกส
Name[tr]=Portekizce
Name[uk]=Португальська
Name[vi]=Tiếng BềEĐào Nha 
Name[wa]=Pôrtuguès
Name[xh]=isiPhuthukesi
Name[zh_CN.GB2312]=葡萄牙语
