[KCM Locale]
Name=Greek
Name[az]=Yunanca
Name[bg]=Гръцки
Name[br]=Gresianeg
Name[bs]=Grčki
Name[ca]=Grec
Name[cs]=Řecký
Name[da]=Græsk
Name[de]=Griechisch
Name[el]=Ελληνικά
Name[eo]=Greka
Name[es]=Griego
Name[et]=Kreeka
Name[eu]=Grekoa
Name[fi]=Kreikka
Name[fr]=Grec
Name[ga]=Gréigis
Name[gl]=Grego
Name[he]=תינווי
Name[hr]=Grčki
Name[hu]=görög
Name[is]=Gríska
Name[it]=Greco
Name[ja]=ギリシャ語
Name[ko]=그리스어
Name[lt]=Graikų
Name[lv]=Grieķu
Name[mi]=Reo Kariki
Name[mk]=Грчки
Name[mt]=Grieg
Name[nl]=Grieks
Name[no]=Gresk
Name[no_NY]=Gresk
Name[oc]=Grec
Name[pl]=Grecki
Name[pt_BR]=Grego
Name[pt]=Grego
Name[ru]=Греческий
Name[sk]=Grécky
Name[sl]=grško
Name[sr]=Grčki
Name[sv]=Grekiska
Name[ta]=¸¢§Ãì¸
Name[th]=กรีก
Name[tr]=Yunanca
Name[uk]=Грецька
Name[vi]=Tiếng Hy Lạp 
Name[wa]=Grek
Name[xh]=isiGrike
Name[zh_CN.GB2312]=希腊语
