[KCM Locale]
Name=Bosnian
Name[az]=Bosniya dili
Name[cs]=Bosenský
Name[da]=Bosnisk
Name[de]=Bosnisch
Name[eo]=Bosnia
Name[es]=Bosnio
Name[fi]=Bosnia
Name[fr]=Bosniaque
Name[he]=תינסוב
Name[hu]=bosnyák
Name[is]=Bosníska
Name[it]=Bosniaco
Name[ja]=ボスニア語
Name[ko]=보스니아어
Name[lt]=Bosnių
Name[lv]=Bosniešu
Name[mt]=Bożniaku
Name[nl]=Bosnisch
Name[no]=Bosninsk
Name[no_NY]=Bosnisk
Name[pl]=Bośniacki
Name[pt_BR]=Bósnio
Name[pt]=Bósnio
Name[ru]=Боснийский
Name[sk]=Bosenský
Name[sl]=bosansko
Name[sr]=Bosanski
Name[sv]=Bosniska
Name[ta]=¦À¡ÍÉ¢Âý
Name[uk]=Боснійська
Name[xh]=isiBosnian
Name[zh_CN.GB2312]=波斯尼亚语
