[KCM Locale]
Name=Vietnamese
Name[cs]=Vietnamský
Name[da]=Vietnamesisk
Name[de]=Vietnamesisch
Name[es]=Vietnamita
Name[fi]=Vietnam
Name[fr]=Vietnamien
Name[he]=תימנטאיו
Name[hu]=vietnami
Name[is]=Víetnamska
Name[it]=Vietnamita
Name[ja]=ベトナム語
Name[ko]=베트남어
Name[lt]=Vietnamiečių
Name[lv]=Vjetnamiešu
Name[nl]=Vietnamees
Name[no]=Vietnamesisk
Name[no_NY]=Vietnamesisk
Name[pt_BR]=Vietnamita
Name[pt]=Vietnamita
Name[ru]=Вьетнамский
Name[sk]=Vietnamský
Name[sl]=vietnamsko
Name[sr]=Vijetnamski
Name[sv]=Vietnamesiska
Name[uk]=В'єтнамська
Name[xh]=isiVietnamese
