[KCM Locale]
Name=Serbian
Name[az]=Sırbca
Name[bg]=Сръбски
Name[br]=Serbeg
Name[bs]=Srpski
Name[ca]=Serbi
Name[cs]=Srbský
Name[da]=Serbisk
Name[de]=Serbisch
Name[el]=Σερβικά
Name[eo]=Serba
Name[es]=Serbio
Name[et]=Serbia
Name[eu]=Serbiera
Name[fi]=Serbia
Name[fr]=Serbe
Name[ga]=Serbis
Name[gl]=Serbio
Name[he]=תיברס
Name[hr]=Srpski
Name[hu]=szerb
Name[is]=Serbneska
Name[it]=Serbo
Name[ja]=セルビア語
Name[ko]=세르비아어
Name[lt]=Serbų
Name[lv]=Serbu
Name[mk]=Српски
Name[mt]=Serb
Name[nl]=Servisch
Name[no]=Serbisk
Name[no_NY]=Serbisk
Name[pl]=Serbski
Name[pt_BR]=Sérvio
Name[pt]=Sérvio
Name[ru]=Сербский
Name[sk]=Srbský
Name[sl]=srbsko
Name[sr]=Srpski
Name[sv]=Serbiska
Name[ta]=¦º÷À¢Âý
Name[th]=เซอร์เบียร์
Name[tr]=Sırpça
Name[uk]=Сербська
Name[vi]=Tiếng Séc bi 
Name[wa]=Serbe
Name[xh]=isiSerbian
Name[zh_CN.GB2312]=塞族语
