[KCM Locale]
Name=English (UK)
Name[az]=İngilizcə - Birləşmiş Krallık
Name[bg]=Английски - Великобритания
Name[cs]=Anglický (UK)
Name[da]=Engelsk (UK)
Name[de]=Englisch (UK)
Name[el]=Αγγλική (ΗΒ)
Name[eo]=Angla (GB)
Name[es]=Inglés (Reino Unido)
Name[et]=Inglise (UK)
Name[fi]=Englanti (UK)
Name[fr]=Anglais britannique
Name[he]=(הינטירב) תילגנא
Name[hu]=angol (brit)
Name[is]=Enska (Bretland)
Name[it]=Inglese (UK)
Name[ja]=英語 (UK)
Name[ko]=영어 (영국)
Name[lt]=Anglų (UK)
Name[lv]=Angļu (AK)
Name[mt]=Ingliż (UK)
Name[nl]=Engels (UK)
Name[no]=Engelsk (UK)
Name[no_NY]=Engelsk (Storbritannia)
Name[pl]=Angielski (Brytyjski)
Name[pt_BR]=Inglês (Reino Unido)
Name[pt]=Inglês (Reino Unido)
Name[ru]=Английский - Великобритания
Name[sk]=Anglický (UK)
Name[sl]=angleško (VB)
Name[sr]=Engleski (Velika Britanija)
Name[sv]=Engelska (UK)
Name[ta]=¬í¸¢Äõ (UK)
Name[th]=อังกฤษ (UK)
Name[tr]=İngilizce (Birleşik Krallık)
Name[uk]=Англійська (Великобританія)
Name[vi]=Tiếng Anh (UK) 
Name[wa]=Inglès (GB)
Name[xh]=isiNgesi (UK)
Name[zh_CN.GB2312]=英语 - (UK)

