[KCM Locale]
Name=Slovenian
Name[az]=Slovencə
Name[bg]=Словенски
Name[br]=Slovenieg
Name[bs]=Slovenski
Name[ca]=Eslovè
Name[cs]=Slovinský
Name[da]=Slovensk
Name[de]=Slowenisch
Name[el]=Σλοβενικά
Name[eo]=Slovena
Name[es]=Esloveno
Name[et]=Sloveenia
Name[eu]=Eslovaniera
Name[fi]=Slovenia
Name[fr]=Slovène
Name[gl]=Esloveno
Name[he]=תינבולס
Name[hr]=Slovenski
Name[hu]=szlovén
Name[is]=Slóvenska
Name[it]=Sloveno
Name[ja]=スロベニア語
Name[ko]=슬로베니아어
Name[lt]=Slovėnų
Name[lv]=Slovēņu
Name[mk]=Словенечки
Name[mt]=Sloven
Name[nl]=Sloveens
Name[no]=Slovensk
Name[no_NY]=Slovensk
Name[oc]=Eslòvian
Name[pl]=Słoweński
Name[pt_BR]=Esloveno
Name[pt]=Esloveno
Name[ru]=Словенский
Name[sk]=Slovinský
Name[sl]=slovensko
Name[sr]=Slovenački
Name[sv]=Slovenska
Name[ta]=Í§Ä¡Å£É¢Âý
Name[th]=สโลเวเนีย
Name[tr]=Slovence
Name[uk]=Словенська
Name[xh]=isiSlovenian
Name[zh_CN.GB2312]=斯洛文尼亚语
