Source: kde-i18n
Build-Depends-Indep: autoconf, automake, libtool, debhelper (>> 3.0.0), kdelibs-dev (>> 4:2.2.2-0)
Section: x11
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Standards-Version: 3.5.6

Package: kde-i18n-az
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Azerbaijan i18n files for KDE
 This package contains the Azerbaijan i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-ca
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Catalan i18n files for KDE
 This package contains the Catalan i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-cs
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Czech i18n files for KDE
 This package contains the Czech i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-da
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Danish i18n files for KDE
 This package contains the Danish i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-de
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: German i18n files for KDE
 This package contains the German i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-el
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Greek i18n files for KDE
 This package contains the greek i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-engb
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: English (UK) i18n files for KDE
 This package contains the English (UK) i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-eo
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Esperanto i18n files for KDE
 This package contains the Esperanto i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-es
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Spanish i18n files for KDE
 This package contains the Spanish i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-et
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Eesti i18n files for KDE
 This package contains the Eesti i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-fi
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Finnish i18n files for KDE
 This package contains the Finnish i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-fr
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: French i18n files for KDE
 This package contains the French i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-he
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Hebrew i18n files for KDE
 This package contains the Hebrew i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-hu
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Hungarian i18n files for KDE
 This package contains the Hungarian i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-is
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Icelandic i18n files for KDE
 This package contains the Icelandic i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-it
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Italian i18n files for KDE
 This package contains the Italian i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-ja
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Japanese i18n files for KDE
 This package contains the Japanese i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-ko
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Korean i18n files for KDE
 This package contains the Korean i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-lt
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Lithuanian i18n files for KDE
 This package contains the Litnuanian i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-lv
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Latvian i18n files for KDE
 This package contains the Latvian i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-mt
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Malta i18n files for KDE
 This package contains the Malta i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-nl
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Netherlands i18n files for KDE
 This package contains the Netherlands i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-no
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Norwegian (Bokmal) i18n files for KDE
 This package contains the Norwegian (Bokmal) i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-nony
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Norwegian (Nynorsk) i18n files for KDE
 This package contains the Norwegian (Nynorsk) i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-pl
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Polish i18n files for KDE
 This package contains the Polish i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-pt
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Portuguese i18n files for KDE
 This package contains the Portuguese i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-ptbr
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Brazilian Portuguese i18n files for KDE
 This package contains the Brazilian Portuguese i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-ro
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Romanian i18n files for KDE
 This package contains the Romanian i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-ru
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Russian i18n files for KDE
 This package contains the Russian i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-sk
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Slovak i18n files for KDE
 This package contains the Slovak i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-sl
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Slovenian i18n files for KDE
 This package contains the Slovenian i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-sr
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Serbian i18n files for KDE
 This package contains the Serbian i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-sv
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Swedish i18n files for KDE
 This package contains the Swedish i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-ta
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Tamil i18n files for KDE
 This package contains the Tamil i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-tr
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Turkish i18n files for KDE
 This package contains the Turkish i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-uk
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Ukrainian i18n files for KDE
 This package contains the Ukrainian i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-zhcngb2312
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Simplified Chinese i18n files for KDE
 This package contains the Simplified Chinese i18n files for all KDE core
 appliactions.
 
Package: kde-i18n-zhtwbig5
Architecture: all
Section: x11
Replaces: kdebase-i18n, kde-i18n
Suggests: kdebase, kde
Conflicts: kdebase-i18n
Provides: kde-i18n
Description: Chinese i18n files for KDE
 This package contains the Chinese i18n files for all KDE core
 appliactions.
