[KCM Locale]
Name=Romanian
Name[az]=Rumınca
Name[bg]=Румънски
Name[br]=Roumaneg
Name[bs]=Rumunjski
Name[ca]=Romanès
Name[cs]=Rumunský
Name[da]=Rumænsk
Name[de]=Rumänisch
Name[el]=Ρουμανικά
Name[eo]=Rumana
Name[es]=Rumano
Name[et]=Rumeenia
Name[eu]=Errumaniera
Name[fi]=Romania
Name[fr]=Roumain
Name[ga]=Rómáinis
Name[gl]=Romanés
Name[he]=תינמור
Name[hr]=Rumunjski
Name[hu]=román
Name[is]=Rúmenska
Name[it]=Rumeno
Name[ja]=ルーマニア語
Name[ko]=루마니아어
Name[lt]=Rumunų
Name[lv]=Rumāņu
Name[mi]=Reo Romeinia
Name[mk]=Романски
Name[mt]=Rumen
Name[nl]=Roemeens
Name[no]=Rumensk
Name[no_NY]=Rumensk
Name[pl]=Rumuński
Name[pt_BR]=Romeno
Name[pt]=Romeno
Name[ru]=Румынский
Name[sk]=Rumunský
Name[sl]=romunsko
Name[sr]=Rumunski
Name[sv]=Rumänska
Name[ta]=¯Õ§ÁÉ¢Â
Name[th]=โรมาเนีย
Name[tr]=Romence
Name[uk]=Румунська
Name[vi]=Tiếng BềEĐào Nha 
Name[xh]=isiRoma
Name[zh_CN.GB2312]=罗马尼亚语
