[KCM Locale]
Name=Danish
Name[az]=Danimarka Dili
Name[bg]=Датски
Name[br]=Daneg
Name[bs]=Danski
Name[ca]=Danès
Name[cs]=Dánský
Name[da]=Dansk
Name[de]=Dänisch
Name[el]=Δανέζικα
Name[eo]=Dana
Name[es]=Danés
Name[et]=Taani
Name[eu]=Daniera
Name[fi]=Tanska
Name[fr]=Danois
Name[ga]=Danmhairgais
Name[gl]=Dinamarqués
Name[he]=תינד
Name[hr]=Danski
Name[hu]=dán
Name[is]=Danska
Name[it]=Danese
Name[ja]=デンマーク語
Name[ko]=덴마크어
Name[lt]=Danų
Name[lv]=Dāņu
Name[mi]=Reo Tenemaka
Name[mk]=Дански
Name[mt]=Daniż
Name[nl]=Deens
Name[no]=Dansk
Name[no_NY]=Dansk
Name[oc]=Danès
Name[pl]=Duński
Name[pt_BR]=Dinamarquês
Name[pt]=Dinamarquês
Name[ru]=Датский
Name[sk]=Dánsky
Name[sl]=dansko
Name[sr]=Danski
Name[sv]=Danska
Name[ta]=§¼É¢Í
Name[th]=เดนมาร์ก
Name[tr]=Danimarka Dili
Name[uk]=Датська
Name[vi]=Tiếng Đan Mạch 
Name[wa]=Danwès
Name[xh]=isiDanish
Name[zh_CN.GB2312]=丹麦语
