[KCM Locale]
Name=Azerbaijani
Name[az]=Azərbaycan Türkcəsi
Name[bg]=Азербайджански
Name[cs]=Ázerbajdžánský
Name[de]=Aserbaidschanisch
Name[eo]=Azerbajĝana
Name[es]=Azerbaijaní
Name[et]=Aserbaidžaani
Name[fi]=Azerbaidzan
Name[fr]=Azeri
Name[he]=תינ'גיברזא
Name[hu]=azerbajdzsáni
Name[is]=Azerbaijanska
Name[it]=Azerbaigiano
Name[ja]=アゼルバイジャン語
Name[ko]=아제르바이잔어
Name[lt]=Azerbaidžaniečių
Name[lv]=Azerbaidžāņu
Name[mt]=Ażerbajġani
Name[nl]=Azerbeidjaans
Name[no]=Aserbadjansk
Name[no_NY]=Aserbajdsjansk
Name[pl]=Azerbejdżański
Name[pt_BR]=Azerbaijanês
Name[pt]=Azerbaijanês
Name[ru]=Азербайджанский
Name[sk]=Ázerbajdžánsky
Name[sl]=azerbajdžansko
Name[sr]=Azerbejdžanski
Name[sv]=Azerbaijanska
Name[ta]=«º÷¨Àº¡É¢
Name[th]=อาเซอร์ไบจัน
Name[tr]=Azerbeycanca
Name[uk]=Азербайджанська
Name[vi]=Agiecbaigiăng 
Name[wa]=Azeri
Name[xh]=isi-Azerbaijani
Name[zh_CN.GB2312]=阿塞拜疆语

