[KCM Locale]
Name=Maltese
Name[az]=Riyazyyat
Name[cs]=Maltézský
Name[da]=Maltesisk
Name[de]=Maltesisch
Name[el]=Μαλτέζικα
Name[eo]=Malta
Name[es]=Maltés
Name[et]=Malta
Name[fi]=Malta
Name[fr]=Maltais
Name[he]=תיזטלמ
Name[hu]=máltai
Name[is]=Maltneska
Name[ja]=マルタ語
Name[ko]=몰타어
Name[lt]=Maltiečių
Name[lv]=Maltiešu
Name[mt]=Malti
Name[nl]=Maltees
Name[no]=Maltisk
Name[no_NY]=Maltesisk
Name[pl]=Maltański
Name[pt_BR]=Maltês
Name[pt]=Maltês
Name[ru]=Мальтийский
Name[sk]=Maltézsky
Name[sl]=malteščina
Name[sr]=Malteški
Name[sv]=Maltesiska
Name[ta]=Á¡øËº¢Â
Name[tr]=Malta Dili
Name[uk]=Мальтійська
Name[vi]=Tiếng Mantơ 
Name[xh]=isiMaltese
Name[zh_CN.GB2312]=马耳他语
