[KCM Locale]
Name=Ukrainian
Name[az]=Ukrayna Dili
Name[bg]=Украински
Name[br]=Ukrainiek
Name[bs]=Ukrajinski
Name[ca]=Ucraïnès
Name[cs]=Ukrajinský
Name[da]=Ukrainsk
Name[de]=Ukrainisch
Name[el]=Ουκρανικά
Name[eo]=Ukraina
Name[es]=Ucraniano
Name[et]=Ukraina
Name[eu]=Ukrainiarra
Name[fi]=Ukraina
Name[fr]=Ukrainien
Name[gl]=Ucraíno
Name[he]=תיניארקוא
Name[hr]=Ukrajinski
Name[hu]=ukrán
Name[is]=Úkraínska
Name[it]=Ucraino
Name[ja]=ウクライナ語
Name[ko]=우크라이나어
Name[lt]=Ukrainiečių
Name[lv]=Ukraiņu
Name[mk]=Украински
Name[mt]=Ukranjan
Name[nl]=Oekraïns
Name[no]=Ukrainsk
Name[no_NY]=Ukrainsk
Name[oc]=Ucranian
Name[pl]=Ukraiński
Name[pt_BR]=Ucraniano
Name[pt]=Ucraniano
Name[ru]=Украинский
Name[sk]=Ukrajinský
Name[sl]=ukrajinsko
Name[sr]=Ukrainski
Name[sv]=Ukrainska
Name[ta]=¯ì§ÃÉ¢Â
Name[th]=ยูเครน
Name[tr]=Ukrayna Dili
Name[uk]=Українська
Name[vi]=Tiếng Ukraina 
Name[xh]=isi-Ukranian
Name[zh_CN.GB2312]=乌克兰语
