[KCM Locale]
Name=Norwegian (Nynorsk)
Name[az]=Norveçcə (Yeni)
Name[bg]=Норвежски (нинорски)
Name[br]=Norvegeg (Nynorsk)
Name[bs]=Norveški (Nynorsk)
Name[ca]=Noruec (Nynorsk)
Name[cs]=Norský (Nynorsk)
Name[da]=Norsk (Nynorsk)
Name[de]=Norwegisch (Nynorsk)
Name[el]=Νορβηγικά (Nynorsk)
Name[eo]=Norvega (Nynorsk)
Name[es]=Noruego (Nynorsk)
Name[et]=Norra (Nynorsk)
Name[eu]=Norvegiera (Nynorsk)
Name[fi]=Norja (Uusi)
Name[fr]=Norvégien (Nynorsk)
Name[gl]=Noruegués (Nynorsk)
Name[he]=(Nynorsk) תיגברונ
Name[hr]=Norveški (Nynorsk)
Name[hu]=norvég (Nynorsk)
Name[is]=Norska (nýnorska)
Name[it]=Norvegese (Nynorsk)
Name[ja]=ノルウェー語 (Nynorsk)
Name[ko]=노르웨이어 (Nynorsk)
Name[lt]=Norvegų (Nynorsk)
Name[lv]=Norvēģu (Ņūnorskas)
Name[mi]=Reo Nöwei (Nynorsk)
Name[mk]=Норвешки (Nynorsk)
Name[mt]=Norveġiż (Nynorsk)
Name[nl]=Noors (Nynorsk)
Name[no]=Norsk (nynorsk)
Name[no_NY]=Norsk (nynorsk)
Name[oc]=Nòrvegian (Nynorsk)
Name[pl]=Norweski (Nynorsk)
Name[pt_BR]=Norueguês
Name[pt]=Norueguês (Nynorsk)
Name[ru]=Норвежский (нинорский)
Name[sk]=Nórsky (Nynorsk)
Name[sl]=norveško (njorsk)
Name[sr]=Norveški (Nynorsk)
Name[sv]=Norska (nynorska)
Name[ta]=¿¡÷Å£º¢Âý (¨¿§Â¡÷Íì)
Name[th]=นอร์เวย์ (Nynorsk)
Name[tr]=Norveççe (Yeni)
Name[uk]=Норвезька (Nynorsk)
Name[vi]=Tiếng Na-uy (Nynorsk) 
Name[wa]=Norvedjyin (Nynorsk)
Name[xh]=isiNorwegian (Nynorsk)
Name[zh_CN.GB2312]=挪威语 (尼诺斯克语)
