[KCM Locale]
Name=Japanese
Name[az]=Yaponca
Name[bg]=Японски
Name[br]=Japaneg
Name[bs]=Japanski
Name[ca]=Japonès
Name[cs]=Japonský
Name[da]=Japansk
Name[de]=Japanisch
Name[el]=Γιαπωνέζικα
Name[eo]=Japana
Name[es]=Japonés
Name[et]=Jaapani
Name[eu]=Japoniera
Name[fi]=Japani
Name[fr]=Japonais
Name[ga]=Seapáinis
Name[gl]=Xaponés
Name[he]=תינפי
Name[hr]=Japanski
Name[hu]=japán
Name[is]=Japanska
Name[it]=Giapponese
Name[ja]=日本語
Name[ko]=일본어
Name[lt]=Japonų
Name[lv]=Japāņu
Name[mi]=Reo Hapana
Name[mk]=Јапонски
Name[mt]=Ġappuniż
Name[nl]=Japans
Name[no]=Japansk
Name[no_NY]=Japansk
Name[oc]=Japònès
Name[pl]=Japoński
Name[pt_BR]=Japonês
Name[pt]=Japonês
Name[ru]=Японский
Name[sk]=Japonský
Name[sl]=japonsko
Name[sr]=Japanski
Name[sv]=Japanska
Name[ta]=ºôÀ¡É¢Â
Name[th]=ญี่ปุ่น
Name[tr]=Japonca
Name[uk]=Японська
Name[vi]=Tiếng Nhật 
Name[xh]=isiJaphani
Name[zh_CN.GB2312]=日语
