[KCM Locale]
Name=Slovak
Name[az]=Slovakca
Name[bg]=Словашки
Name[br]=Sloveg
Name[bs]=Slovački
Name[ca]=Eslovac
Name[cs]=Slovenský
Name[da]=Slovakisk
Name[de]=Slovakisch
Name[el]=Σλοβακικά
Name[eo]=Slovaka
Name[es]=Eslovaco
Name[et]=Slovaki
Name[eu]=Eslovakiera
Name[fi]=Slovakki
Name[fr]=Slovaque
Name[ga]=Slóvaicis
Name[gl]=Eslovaco
Name[he]=תיקבולס
Name[hr]=Slovački
Name[hu]=szlovák
Name[is]=Slóvakía
Name[it]=Slovacco
Name[ja]=スロバキア語
Name[ko]=슬로바키아어
Name[lt]=Slovakų
Name[lv]=Slovāku
Name[mk]=Словачки
Name[mt]=Slovakk
Name[nl]=Slovaaks
Name[no]=Slovakisk
Name[no_NY]=Slovakisk
Name[oc]=Eslòvac
Name[pl]=Słowacki
Name[pt_BR]=Eslovaco
Name[pt]=Eslovaco
Name[ru]=Словацкий
Name[sk]=Slovenský
Name[sl]=slovaško
Name[sr]=Slovački
Name[sv]=Slovakiska
Name[ta]=Í§Ä¡Å¡ì
Name[th]=สโลวัค
Name[tr]=Slovakça
Name[uk]=Словацька
Name[vi]=Tiếng Slô-vác 
Name[xh]=isiSlovak
Name[zh_CN.GB2312]=斯洛伐克语
