[KCM Locale]
Name=Estonian
Name[az]=Estonca
Name[bg]=Естонски
Name[br]=Estoneg
Name[bs]=Estonski
Name[ca]=Estonià
Name[cs]=Estonský
Name[da]=Estisk
Name[de]=Estnisch
Name[el]=Εσθονικά
Name[eo]=Estlanda
Name[es]=Estonio
Name[et]=Eesti
Name[eu]=Estoniera
Name[fi]=Eesti
Name[fr]=Estonien
Name[ga]=Eastóinis
Name[gl]=Estonio
Name[he]=תינוטסא
Name[hr]=Estonski
Name[hu]=észt
Name[is]=Eistneska
Name[it]=Estone
Name[ja]=エストニア語
Name[ko]=에스토니아어
Name[lt]=Estų
Name[lv]=Igauņu
Name[mi]=Reo Etonia
Name[mk]=Естонски
Name[mt]=Estonjan
Name[nl]=Ests
Name[no]=Estonsk
Name[no_NY]=Estisk
Name[pl]=Estoński
Name[pt_BR]=Estoniano
Name[pt]=Estónio
Name[ru]=Эстонский
Name[sk]=Estónsky
Name[sl]=estonsko
Name[sr]=Estonski
Name[sv]=Estniska
Name[ta]=±Í§¼¡É¢Â
Name[th]=เอสโทเนีย
Name[tr]=Estonca
Name[uk]=Естонська
Name[vi]=Tiếng Estonian 
Name[wa]=Estonyin
Name[xh]=isi-Estonian
Name[zh_CN.GB2312]=爱沙尼亚语
