[KCM Locale]
Name=Welsh
Name[az]=Uelscə
Name[cs]=Welšský
Name[da]=Valisisk
Name[de]=Walisisch
Name[eo]=Valisa
Name[es]=Galés
Name[fi]=Wales
Name[fr]=Gallois
Name[he]=תישלוו
Name[hu]=walesi
Name[is]=Velska
Name[it]=Gallese
Name[ja]=ウェールズ語
Name[ko]=웨일스어
Name[lt]=Velsiečių
Name[lv]=Velšu
Name[no]=Walisisk
Name[no_NY]=Walisisk
Name[pl]=Walijski
Name[pt_BR]=Galês
Name[pt]=Galês
Name[ru]=Уэльский
Name[sk]=Welšský
Name[sl]=velško
Name[sr]=Velšanski
Name[sv]=Walesiska
Name[ta]=§ÅøÍ
Name[uk]=Уельська
Name[xh]=isiWelsh
Name[zh_CN.GB2312]=威尔士
