[KCM Locale]
Name=Swedish
Name[az]=İsveçcə
Name[bg]=Шведски
Name[br]=Svedeg
Name[bs]=švedski
Name[ca]=Suec
Name[cs]=Švédský
Name[da]=Svensk
Name[de]=Schwedisch
Name[el]=Σουηδικά
Name[eo]=Sveda
Name[es]=Sueco
Name[et]=Rootsi
Name[eu]=Suediera
Name[fi]=Ruotsi
Name[fr]=Suédois
Name[ga]=Sualainnis
Name[gl]=Sueco
Name[he]=תידבש
Name[hr]=švedski
Name[hu]=svéd
Name[is]=Sænska
Name[it]=Svedese
Name[ja]=スウェーデン語
Name[ko]=스웨덴어
Name[lt]=Švedų
Name[lv]=Zviedru
Name[mi]=Reo Wïtana
Name[mk]=Шведски
Name[mt]=Svediż
Name[nl]=Zweeds
Name[no]=Svensk
Name[no_NY]=Svensk
Name[oc]=Suedès
Name[pl]=Szwedzki
Name[pt_BR]=Sueco
Name[pt]=Sueco
Name[ru]=Шведский
Name[sk]=Švédsky
Name[sl]=švedsko
Name[sr]=Švedski
Name[sv]=Svenska
Name[ta]=ÍÅ£ÊÍ
Name[th]=สวีเดน
Name[tr]=İsveççe
Name[uk]=Шведська
Name[vi]=Tiếng Thuỵ Điển 
Name[xh]=isiSwedish
Name[zh_CN.GB2312]=瑞典语
