[KCM Locale]
Name=Walloon
Name[az]=Valonca
Name[bg]=Валонски
Name[br]=Walloneg
Name[bs]=Valonski
Name[ca]=Való
Name[cs]=Wallonský
Name[da]=Vallonsk
Name[de]=Wallonisch
Name[eo]=Valisa
Name[es]=Valón
Name[et]=Vallooni
Name[eu]=Waloiera
Name[fi]=Walloo
Name[fr]=Wallon
Name[ga]=Fraincis - An Bheilg
Name[gl]=Valón
Name[he]=תינולוו
Name[hr]=Valonski
Name[hu]=vallon
Name[is]=Vallónska
Name[it]=Vallone
Name[ja]=ワロン語
Name[ko]=왈론어
Name[lt]=Valonų
Name[lv]=Valūniešu
Name[mk]=Валонски
Name[nl]=Waals
Name[no]=Vietnamesisk
Name[no_NY]=Vallonsk
Name[oc]=Valon
Name[pl]=Waloński
Name[pt]=Valão
Name[ru]=Валлонский
Name[sk]=Vallónsky
Name[sl]=walloonsko
Name[sr]=Valonski
Name[sv]=Vallonska
Name[ta]=Å¡æý
Name[th]=วัลลูน
Name[tr]=Valonca
Name[uk]=Валлонська
Name[vi]=Tiếng Wallon 
Name[wa]=Walon
Name[xh]=isiWalloon
Name[zh_CN.GB2312]=瓦龙语
