[KCM Locale]
Name=Galician
Name[az]=Qalcə
Name[bg]=Галицийски
Name[bs]=Galicijanski
Name[ca]=Gallec
Name[cs]=Haličský
Name[da]=Galicisk
Name[de]=Galizisch
Name[eo]=Galicia
Name[es]=Gallego
Name[et]=Galiitsia
Name[eu]=Galiziera
Name[fi]=Galicia
Name[fr]=Galicien
Name[gl]=Galego
Name[he]=תינאיצילג
Name[hr]=Galicijanski
Name[hu]=galíciai
Name[is]=Galenska
Name[it]=Galiziano
Name[ja]=ガリシア語
Name[ko]=갈라시아어
Name[lt]=Galiciečių
Name[lv]=Galiciāņu
Name[mt]=Galiċian
Name[nl]=Galicisch
Name[no]=Gallisk
Name[no_NY]=Galisisk
Name[pl]=Galicyjski
Name[pt_BR]=Galiciano
Name[pt]=Galego
Name[ru]=Галицийский
Name[sk]=Gálsky
Name[sl]=galsko
Name[sr]=Galski
Name[sv]=Galiziska
Name[ta]=¸Ä£º¢Âý
Name[th]=แกลิเซียน
Name[tr]=Galce
Name[uk]=Галісійська
Name[vi]=Tiếng Galician 
Name[wa]=Galicyin
Name[xh]=isiGalacian
Name[zh_CN.GB2312]=加利西亚语
