[KCM Locale]
Name=Simplified Chinese
Name[az]=Bəsitləşdirilmiş Çincə
Name[bg]=Упростен китайски
Name[br]=Sinaeg eeunaet
Name[bs]=Pojednostavljeni kineski
Name[ca]=Xinès simplificat
Name[cs]=Zjednodušený čínský
Name[da]=Forsimplet kinesisk
Name[de]=Vereinfachtes Chinesisch
Name[el]=Απλοποιημένα Κινέζικα
Name[eo]=Ĉina simpligita
Name[es]=Chino simplificado
Name[et]=Lihtsustatud hiina
Name[eu]=Txinera Errazagotua
Name[fi]=Yksinkertaistettu Kiina
Name[fr]=Chinois simplifié
Name[ga]=Sínis Shimplí
Name[gl]=Chinés Simplificado
Name[he]=תטשפומ תיניס
Name[hr]=Pojednostavljeni kineski
Name[hu]=egyszerű kínai
Name[is]=Einfölduð kínverska
Name[it]=Cinese semplificato
Name[ja]=中国語 簡体字
Name[ko]=중국어 (약식)
Name[lt]=Supaprastinta Kinų
Name[lv]=Vienkāršotā Ķīniešu
Name[mi]=Reo Hainamana Ngäwari
Name[mk]=поедноставен Кинески
Name[mt]=Ċiniż Simplifikat
Name[nl]=Vereenvoudigd Chinees
Name[no]=Forenklet kinesisk
Name[no_NY]=Forenkla kinesisk
Name[oc]=Chinès simplificat
Name[pl]=Uproszczony chiński
Name[pt_BR]=Chinês Simplificado
Name[pt]=Chinês Simplificado
Name[ru]=Упрощенный китайский
Name[sk]=Zjednodušená čínština
Name[sl]=poenostavljeno kitajsko
Name[sr]=Pojednostavljenji kineski
Name[sv]=Förenklad kinesiska
Name[ta]=­ÄÌ º£É
Name[th]=จีนกลาง
Name[tr]=Basitleştirilmiş Çince
Name[uk]=Спрощена китайська
Name[vi]=Tiếng Trung Quốc giản thềE
Name[wa]=Chinwès simplifyî
Name[xh]=isiTshayina esilula
Name[zh_CN.GB2312]=简体中文
