[KCM Locale]
Name=Thai
Name[bg]=Тайски
Name[bs]=Tajlandski
Name[cs]=Thajský
Name[da]=Thailandsk
Name[eo]=Taja
Name[es]=Tailandés
Name[et]=Tai
Name[eu]=Tailandiera
Name[fr]=Thaïlandais
Name[he]=תידנליאת
Name[hr]=Tajlandski
Name[hu]=thaiföldi
Name[is]=Tælenska
Name[it]=Tailandese
Name[ja]=タイ語
Name[ko]=타이어
Name[lt]=Tailandiečių
Name[lv]=Taizemiešu
Name[mk]=Таи
Name[mt]=Tai
Name[nl]=Thais
Name[no_NY]=Thailandsk
Name[oc]=Tai
Name[pl]=Tajski
Name[ru]=Тайский
Name[sk]=Thajský
Name[sl]=tajsko
Name[sr]=Tai
Name[sv]=Thailändska
Name[ta]=¾¡ö
Name[th]=ไทย
Name[uk]=Тайська
Name[vi]=Tiếng Thái Lan 
Name[wa]=Tailandès
Name[xh]=isiThai
Name[zh_CN.GB2312]=泰语
