[KCM Locale]
Name=Macedonian
Name[az]=Makedonca
Name[bg]=Македонски
Name[bs]=Makedonski
Name[ca]=Macedoni
Name[cs]=Makedonský
Name[da]=Makedonisk
Name[de]=Makedonisch
Name[el]=Μακεδονικά
Name[eo]=Macedonia
Name[es]=Macedonio
Name[et]=Makedoonia
Name[eu]=Mazedoniera
Name[fi]=Makedonia
Name[fr]=Macédonien
Name[gl]=Macedonio
Name[he]=תינודקמ
Name[hr]=Makedonski
Name[hu]=macedón
Name[is]=Makedóníska
Name[it]=Macedone
Name[ja]=マケドニア語
Name[ko]=마케도니아어
Name[lt]=Makedoniečių
Name[lv]=Maķedoniešu
Name[mi]=Reo Makerönia
Name[mk]=Македонски
Name[mt]=Maċedonjan
Name[nl]=Macedonisch
Name[no]=Makedonsk
Name[no_NY]=Makedonsk
Name[pl]=Macedoński
Name[pt_BR]=Macedoniano
Name[pt]=Macedónio
Name[ru]=Македонский
Name[sk]=Macedónsky
Name[sl]=makedonsko
Name[sr]=Makedonski
Name[sv]=Makedonska
Name[ta]=Á¡º¢§¼¡É¢Â
Name[th]=มาเซโดเนียน
Name[tr]=Makedonca
Name[uk]=Македонська
Name[vi]=Tiếng Macedonian 
Name[xh]=isiMacedonian
Name[zh_CN.GB2312]=马其顿语
Languages=mk
Region=easteurope
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=MKD
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat=%A %e. %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
